<div class="maa-container">
    <h1>
        {{isNewLesson ? 'Add New Lesson':'Edit Lesson'}}
    </h1>
    <form [formGroup]="form" (submit)="saveLesson()">
        <div class="multi-page-form">
            <div id="lessonMain" class="multi-page-section">
                <!-- ID -->
                <div class="form-control" *ngIf="!isNewLesson">
                    <label for="_id">ID</label>
                    <input type="text" readonly formControlName="_id">
                </div>
                <!-- Title -->
                <div class="form-control">
                    <label for="title">Title</label>
                    <input type="text" formControlName="title" id="title">
                    <div class="input-error">
                        <div *ngIf="title?.errors?.['required'] && title.dirty">
                            Title is required
                        </div>
                    </div>
                </div>
                <!-- Feature Image URL -->
                <div class="form-control">
                    <label for="featureImageUrl">Feature Image URL</label>
                    <input type="text" formControlName="featureImageUrl" id="featureImageUrl">
                </div>
                <!-- Description -->
                <div class="form-control">
                    <label for="description">Short Description</label>
                    <textarea formControlName="description" id="description" rows="5"></textarea>
                </div>
                <!-- Body -->
                <div class="form-control">
                    <label for="body">Body</label>
                    <editor formControlName="body" id="body" [init]="{
                        height: 500,
                        menubar: false,
                        plugins: [
                            'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                            'undo redo | formatselect | bold italic link backcolor | \
                            alignleft aligncenter alignright alignjustify | \
                            bullist numlist outdent indent | removeformat | help'
                    }"
                    ></editor>
                </div>
            </div>
            <div id="homework" class="multi-page-section">
                <!-- Homework -->
                <div class="form-control">
                    <label for="homework" class="">Homework</label>
                    <!-- <editor formControlName="homework" id="homework" [init]="{
                        height: 500,
                        menubar: false,
                        plugins: [
                            'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                            'undo redo | formatselect | bold italic link backcolor | \
                            alignleft aligncenter alignright alignjustify | \
                            bullist numlist outdent indent | removeformat | help',
                        selector: '#homework'
                    }"
                    ></editor> -->
                </div>
            </div>
            <div id="exercise" class="multi-page-section">
                <!-- Exercises -->
                <div class="form-control">
                    <label for="exercise">Exercise</label>
                    <!-- <editor formControlName="exercise" id="exercise" [init]="{
                        height: 500,
                        menubar: false,
                        plugins: [
                            'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                            'undo redo | formatselect | bold italic link backcolor | \
                            alignleft aligncenter alignright alignjustify | \
                            bullist numlist outdent indent | removeformat | help',
                        selector: '#exercise'
                    }"
                    ></editor> -->
                </div>
            </div>
        </div>
        <app-error-alert [errors]="errors"></app-error-alert>
        <div class="d-flex flex-row justify-end">
            <button type="submit" class="btn">Save</button>
        </div>
    </form>
</div>