@import '../../../../app/shared/vars.scss';
.lessons {
 border-left: 15px solid $brand-dark;
 padding-left: 15px;   
}

.admin-module-header {
    background: $brand-dark;
    color: #fff;
    padding: 2rem;
    font-size: 1.4rem;
    margin: 3rem 0;
    h3 {
        margin: 0;
    }
    .btn {
        font-size: 1rem;
    }
}
.add-module-btn {
    margin: 2rem 0;
}