<div class="container">
    <h1>
        {{isNewCourse ? 'Add New Course':'Edit Course'}}
    </h1>
    <form [formGroup]="form" (submit)="saveCourse()">
        <!-- ID -->
        <div class="form-control" *ngIf="!isNewCourse">
            <label for="_id">ID</label>
            <input type="text" readonly formControlName="_id">
        </div>
        <!-- Title -->
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" formControlName="title" id="title">
        </div>
        <!-- Feature Image URL -->
        <div class="form-control">
            <label for="featureImageUrl">Feature Image URL</label>
            <input type="text" formControlName="featureImageUrl" id="featureImageUrl">
        </div>
        <!-- Description -->
        <div class="form-control">
            <label for="description">Short Description</label>
            <textarea formControlName="description" id="description" rows="5"></textarea>
        </div>
        <!-- Body -->
        <div class="form-control">
            <label for="body">Body</label>
            <textarea formControlName="body" id="body" rows="10"></textarea>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
