<div class="maa-container login-container" [ngClass]="{'maa-container login-container':(container===true)}">
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="login-form">
        <h2>Login</h2>
        <div class="form-control">
            <label for="">
                Email
            </label>
            <input type="text" formControlName="email">
            <div class="input-error" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                <div *ngIf="email?.errors?.['required']">
                    Email is required
                </div>
                <div *ngIf="email?.errors?.['email'] && !changedSinceLastSubmit">
                    Please enter a valid email
                </div>
            </div>
        </div>
        <div class="form-control">
            <label for="">
                Password
            </label>
            <input type="password" formControlName="password">
            <div class="input-error" *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                <div *ngIf="password?.errors?.['required']">
                    Password is required
                </div>
            </div>
        </div>
        <app-error-alert [errors]="errors"></app-error-alert>
        <div class="d-flex justify-end">
            <button type="submit" [disabled]="!changedSinceLastSubmit" class="btn" (click)="showErrorsWhenInvalid()">Login</button>
        </div>
    </form>
</div>