@import './app/shared/normalize.scss';
@import './app/shared/vars.scss';
@import './app/shared/flexbox.scss';
body {
    font-family: 'Montserrat', Arial, sans-serif;
}
.light-text {
    font-weight: 300;
    font-size: 1.2rem;
    font-style: italic;
    color: #666;
    b, strong {
        font-weight: 600;
    }
}
p.light-text {
    margin: 2rem 0;
}
::selection {
    background: #4b61b3;
    color: #fff;
}
app-root {
    min-height: 100%;
}
h1 {
    font-size: 3rem;
}

.maa-container {
    display: block;
    margin: 0;    
    padding: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

//cards

.card {
    display: block;
    height: 350px;
    box-shadow: 0 8px 19px -12px;
    width: 335px;
    border: 1px solid #000;
    border-radius: 4px;
}

.card-feature img {
    width: 100%;
    height: 137px;
    height: auto;
}

.card-feature {
    overflow: hidden;
    height: 135px;
}

.card-content {
    padding: 0 15px;
}

//forms

label {
    font-weight: bold;
    margin-bottom: 5px;
}
ul.form-group {
    list-style: none;
    padding-left: 2rem;

    li {
        margin: 0.5rem auto;
    }
}
fieldset {
    border: 1px solid;
    margin-bottom: 4rem;
    border-radius: 4px;
    box-shadow: 0 10px 10px -12px #000000aa;
}
.form-control {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    input, select, textarea {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 2px;
      line-height: 20px;

      &:active {
          outline-color: #111;
      }
    }
}
form {
    legend {
        font-weight: 700;
        font-size: 1.3rem;
    }
}

.input-error {
    color: #f00;
}

.alert, .alert-danger {
    background: #ffa2a2;
    color: #4c0303;
    border: 1px solid #ff7d7d;
    border-radius: 3px;
    padding: 1em;
    margin: 1em 0;
}

.vert-space {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

a {
    color: #566fcd;
    text-decoration: none;
    &:visited{
        color: #566fcd
    }
    &:hover{
        color: #2551f1;
        text-decoration: underline;
    }
}

button.btn, a.btn {
    padding: 10px 20px;
    background: $brand-dark;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    box-shadow: 0 3px 8px -4px #000;

    &:hover, &:focus {
        background-color: lighten($brand-dark, $amount: 15);
    }
    &:active {
        position: relative;
        top: 2px;
        box-shadow: none;
        background-color: darken($brand-dark, $amount: 5);
    }
    &.btn-danger {
        background: $danger;
        &:hover, &:focus {
            background: lighten($danger, $amount: 5);
        }
        &:active {
            background-color: darken($danger, $amount: 5);
        }
    }
    &.btn-success {
        background: $success;
        &:hover, &:focus {
            background: lighten($success, $amount: 5);
        }
        &:active {
            background-color: darken($success, $amount: 5);
        }
    }
}

@media only screen and (min-width: 768px) {
    .maa-container {
        padding: 4rem 20vw;
    }

    .form-group.form-horizontal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        .form-control { 
            flex: 1;
            margin: 5px;
    
            &:first-of-type { margin-left: 0; }
            &:last-of-type { margin-right: 0; }
        }
    }
}